body
	| Foto:
	img(id="imagemCadastro" src="Imagens/userDefault.jpg" alt="userDefault" width="90px" height="90px")
	br
	br
	br
	form(style="clear: both")
		| Alterar Foto:
		input(id="inputImagemCadastro" type="file" onchange="alterouImagemCadastro(this)")
		br
		br
		| Nome:
		input(id="nomeAdm" type="text" name="cadastroAdm")
		br
		br
		| Telefone:
		input(id="telefoneAdm" type="tel" name="telefoneAdm")
		br
		br
		| E-mail:
		input(id="emailAdm" type="email" name="emailAdm")
		br
		br
		| Login:
		input(id="loginAdm" type="text" name="loginAdm")
		br
		br
		| Senha:
		input(id="senhaAdm" type="password" name="senhaAdm")
		br
		br
		br
		input(type="button" onClick="alterarPagina('listaAdm')" value="Voltar")
		input(type="button" onClick="cadastrarAdm()" value="Salvar")
	br
