doctype html
html
   head
      meta(charset="utf-8")
      title Petit Gatô Cachorrô
      link(href="estilo.css" rel="stylesheet" type="text/css")
   body
      div
         h2(onClick="alterarPagina('loja')") Produtos
         section#homeProd

      div(style="clear: both")
         h2(onClick="alterarPagina('servicos')") Serviços
         section#homeServ

      div(style="clear: both")
         h2(onClick="alterarPagina('pets')") Pets
         section#homePets

      div(style="clear: both")
         h2(onClick="alterarPagina('blog')") Blog
         section#homeBlog
