<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Petit Gatô Cachorrô</title>
<link href="estilo.css" rel="stylesheet" type="text/css">
</head>

<body>
            <h2 onClick="alterarPagina('loja')">Produtos</h2>
            <section id="homeProd">

            </section>
        </div>
        <div style="clear: both">
            <h2 onClick="alterarPagina('servicos')">Serviços</h2>
            <section id="homeServ">
                
            </section>
        </div>
        <div style="clear: both">
            <h2 onClick="alterarPagina('pets')">Pets</h2>
            <section id="homePets">
                
            </section>
        </div>
        <div style="clear: both">
            <h2 onClick="alterarPagina('blog')">Blog</h2>
            <section id="homeBlog">
                
            </section>
        </div>
</body>
</html>